DATABASE_URL="postgresql://usuario:senha@localhost:5432/saude_agora?schema=public"
PORT=3000
MEDITELE_API_URL="https://gateway.meditele.com.br"
MEDITELE_CLINIC_ID="37d53a2a-ab9c-4873-8eaa-534fc0b17afe"
MEDITELE_API_KEY="sua_api_key_aqui"
ADMIN_TOKEN="troque_por_senha_forte"
